@charset "UTF-8";
.chui-calendar {
  /* 天的宽度 */
  /* 月，年的宽度 */
  /* 时间元素的padding */
  /* 月，年容器左边的padding */
  /* 当前视图之前，之后日期的颜色 */
  /* hover的背景色 */
  display: inline-block;
  position: relative;
  background-color: #fff;
  user-select: none; }
  .chui-calendar .ipt-box {
    height: 30px;
    line-height: 30px; }
  .chui-calendar .item-box {
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 1000;
    width: 210px;
    padding: 5px;
    background-color: #fff;
    border: solid 1px #ccc; }
  .chui-calendar .tools {
    height: 30px;
    line-height: 30px;
    text-align: center;
    position: relative; }
    .chui-calendar .tools .pre-view {
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 100%;
      cursor: pointer; }
    .chui-calendar .tools .pre-view.disable {
      visibility: hidden; }
    .chui-calendar .tools .next-view {
      position: absolute;
      top: 0;
      right: 0;
      width: 30px;
      height: 100%;
      cursor: pointer; }
    .chui-calendar .tools .next-view.disable {
      visibility: hidden; }
    .chui-calendar .tools .parents-info {
      margin: 0 30px;
      height: 100%;
      cursor: pointer; }
    .chui-calendar .tools .pre-view:hover {
      background-color: #eee; }
    .chui-calendar .tools .next-view:hover {
      background-color: #eee; }
    .chui-calendar .tools .parents-info:hover {
      background-color: #eee; }
  .chui-calendar .days .day-name {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px; }
  .chui-calendar .days .day {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer; }
    .chui-calendar .days .day.disable {
      color: #ccc;
      cursor: default; }
    .chui-calendar .days .day:hover {
      background-color: #eee; }
    .chui-calendar .days .day.disable:hover {
      background-color: transparent; }
    .chui-calendar .days .day.post {
      color: #ccc; }
    .chui-calendar .days .day.pre-month {
      color: #ccc; }
    .chui-calendar .days .day.post-month {
      color: #ccc; }
  .chui-calendar .months {
    padding: 0 0 0 5px; }
    .chui-calendar .months .month {
      display: inline-block;
      width: 50px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      cursor: pointer; }
      .chui-calendar .months .month.disable {
        color: #ccc;
        cursor: default; }
      .chui-calendar .months .month:hover {
        background-color: #eee; }
      .chui-calendar .months .month.disable:hover {
        background-color: transparent; }
      .chui-calendar .months .month.post-month {
        color: #ccc; }
  .chui-calendar .years {
    padding: 0 0 0 5px; }
    .chui-calendar .years .year {
      display: inline-block;
      width: 50px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      cursor: pointer; }
      .chui-calendar .years .year.disable {
        color: #ccc;
        cursor: default; }
      .chui-calendar .years .year:hover {
        background-color: #eee; }
      .chui-calendar .years .year.disable:hover {
        background-color: transparent; }
      .chui-calendar .years .year.pre-year {
        color: #ccc; }
      .chui-calendar .years .year.post-year {
        color: #ccc; }
.h-ui-side-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #333;
  color: #fff; }
  .h-ui-side-menu ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .h-ui-side-menu .mid-layer, .h-ui-side-menu .menu-item {
    list-style: none; }
  .h-ui-side-menu .menu-item {
    overflow: hidden;
    transition: height 0.3s ease; }
  .h-ui-side-menu .mid-name {
    margin: 0;
    overflow: hidden;
    transition: height 0.3s ease; }
  .h-ui-side-menu .menu-item, .h-ui-side-menu .mid-name {
    line-height: 30px; }
  .h-ui-side-menu > .menu-item, .h-ui-side-menu > .mid-name {
    height: 30px; }
  .h-ui-side-menu .sub-menu > .menu-item {
    height: 0; }
  .h-ui-side-menu .sub-menu > .mid-layer > .mid-name {
    height: 0; }
  .h-ui-side-menu .expand > .menu-item {
    height: 30px; }
  .h-ui-side-menu .expand > .mid-layer > .mid-name {
    height: 30px; }
  .h-ui-side-menu > .mid-layer > .mid-name {
    padding-left: 20px; }
  .h-ui-side-menu > .menu-item {
    padding-left: 20px; }
  .h-ui-side-menu .level-2 {
    background-color: #404040; }
    .h-ui-side-menu .level-2 > .mid-layer > .mid-name {
      padding-left: 40px; }
    .h-ui-side-menu .level-2 > .menu-item {
      padding-left: 40px; }
  .h-ui-side-menu .level-3 {
    background-color: #505050; }
    .h-ui-side-menu .level-3 > .mid-layer > .mid-name {
      padding-left: 60px; }
    .h-ui-side-menu .level-3 > .menu-item {
      padding-left: 60px; }
.pagination {
  box-sizing: border-box; }
  .pagination span {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #fff;
    border: 1px solid #ddd;
    color: #0275d8;
    text-align: center;
    cursor: pointer; }
  .pagination span:hover {
    color: #014c8c;
    background-color: #eceeef;
    border-color: #ddd; }
  .pagination .active {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8; }
  .pagination svg {
    position: absolute;
    height: 20px;
    width: 20px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .pagination .disable {
    pointer-events: none; }
.Tabs {
  box-sizing: border-box; }
  .Tabs .container {
    width: 100%; }
  .Tabs .Tab_title {
    padding: 7px 30px;
    text-align: center;
    color: #999;
    display: inline-block;
    border: 1px solid #ececec;
    border-bottom: none; }
  .Tabs .active {
    color: #333;
    border-color: #999; }
  .Tabs .Tab_item_wrap {
    position: relative;
    border: 1px solid #999;
    min-height: 50px;
    max-height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px;
    background: #0e90d2; }
  .Tabs .Tab_item {
    text-align: left;
    width: 100%;
    color: #FFF;
    display: none;
    position: relative; }
  .Tabs .show {
    display: block; }

@keyframes tabanimate {
  from {
    left: 150px; }
  to {
    left: 0px; } }
.Popup {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }
  .Popup a {
    text-decoration: none; }
  .Popup .alertPopup {
    display: inline-block;
    padding: 5px 15px;
    background: #0e90d2;
    color: #fff; }
  .Popup .popupMask {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 9999;
    display: none; }
  .Popup .popupBox {
    position: absolute;
    width: 200px;
    height: auto;
    display: none;
    background: #fff;
    z-index: 99999;
    text-align: center; }
    .Popup .popupBox h1.popupBoxTitle {
      height: 35px;
      line-height: 35px;
      font-size: 16px;
      color: #fff;
      background: #0e90d2;
      margin: 0px;
      padding: 0px; }
    .Popup .popupBox .popupBoxBody {
      color: #333333;
      padding: 10px 5px;
      font-size: 14px; }
    .Popup .popupBox .popupBoxCloseBtn {
      position: absolute;
      top: 5px;
      right: 10px;
      color: #fff; }
    .Popup .popupBox .popupBoxFoot {
      padding: 10px 0px;
      display: none; }
html, body, div {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%;
  font-family: Arial,"Microsoft YaHei","\5B8B\4F53";
  font-size: 14px; }

body {
  background-color: #ececec; }

.header {
  padding: 0 10px 0 60px;
  height: 40px;
  line-height: 40px;
  background-size: 40px auto;
  background-color: #333; }
  .header a {
    margin: 0 5px;
    color: #ccc;
    text-decoration: none; }
    .header a.active {
      color: #fff; }
  .header .github-link {
    float: right; }
    .header .github-link .icon-github-circled {
      font-size: 24px;
      vertical-align: top;
      margin-top: 8px; }

.main-wrapper {
  overflow: hidden;
  margin: 20px 0;
  min-height: 350px; }

.menu-wrapper {
  width: 20%;
  float: left; }

.main-container {
  float: left;
  width: 80%;
  padding: 0 20px;
  box-sizing: border-box; }
.container .iSwitch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  border-radius: 15px;
  background: #dcdcdc;
  border: 1px solid #dcdcdc;
  box-shadow: 0 0 5px #dcdcdc;
  overflow: hidden;
  vertical-align: middle; }

.container .iSwitch input {
  visibility: hidden; }

.container .iSwitch i {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 50%;
  height: 100%;
  border-radius: 100%;
  background: #fff; }

.container .iSwitch i::before {
  content: " ";
  display: none;
  width: 200%;
  height: 100%;
  border-radius: 25%;
  background: #20c0e7; }

.container .iSwitch i::after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: #fff; }

.container .iSwitch input:checked + i {
  transform: translateX(100%);
  -webkit-transform: translateX(100%); }

.container .iSwitch input:checked + i:before {
  display: inline-block;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%); }
html {
  font-size: 100px; }

.droplist {
  cursor: pointer;
  color: #333333;
  width: 2rem;
  background-color: #ffffff;
  line-height: 0.28rem; }
  .droplist > .cur-option {
    height: 0.28rem;
    line-height: 0.28rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    border: solid 1px #ededed;
    border-radius: 2px;
    padding-left: 0.08rem; }
    .droplist > .cur-option > input {
      font-size: 14px;
      text-align: center;
      width: 100%;
      background: none;
      border: none;
      outline: none;
      color: #7c97af; }
  .droplist > .option-list {
    width: 2.2rem;
    position: absolute;
    top: 0.2rem;
    left: 0;
    background-color: #ffffff;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 5;
    max-height: 4.5rem;
    overflow-y: auto;
    border-radius: 0.03rem; }
    .droplist > .option-list.active {
      border: solid 1px #d6dadd;
      box-shadow: 0 0 3px 2px #e3e5e7; }
    .droplist > .option-list > .option {
      height: 0;
      overflow: hidden;
      cursor: pointer;
      margin-left: -0.3rem;
      padding-left: 0.1rem;
      line-height: 0.3rem; }
    .droplist > .option-list > .option.chked {
      background-size: auto 50%; }
    .droplist > .option-list > .option:hover {
      background-color: #0E90D2;
      color: #ffffff; }
    .droplist > .option-list.active > .option {
      height: 0.3rem; }
    .droplist > .option-list > .option-btn {
      height: 0;
      overflow: hidden; }
      .droplist > .option-list > .option-btn > .ok-btn {
        display: inline-block;
        margin-top: 0.0125rem;
        height: 0.25rem;
        padding: 0 0.2rem;
        color: #fff;
        background: blue; }
    .droplist > .option-list.active > .option-btn {
      height: 0.3rem; }
  .droplist > .option-text {
    position: absolute;
    left: 100%;
    z-index: 10;
    width: 100%; }
    .droplist > .option-text > input {
      font-size: 12px; }

.abtestDrop {
  height: 0.23rem;
  font-size: 0.14rem; }

.select-abtest input {
  height: 0.26rem;
  width: 2rem;
  border: 0.01rem solid #d3d7da;
  border-radius: 0.03rem;
  outline: none;
  padding-left: 0.2rem; }

.select-abtest span {
  white-space: nowrap;
  height: 0.1rem;
  width: 0.16rem;
  position: absolute;
  right: 0rem;
  top: 50%;
  margin-top: -0.05rem;
  background: url(/h-ui-react-docs/image/downgray.png?24cdc4d8688f53f5ddd77a0b48648841) center center no-repeat;
  background-size: 0.16rem 0.1rem; }

/*# sourceMappingURL=app.css.map*/