@charset "UTF-8";
.chui-calendar {
  /* 天的宽度 */
  /* 月，年的宽度 */
  /* 时间元素的padding */
  /* 月，年容器左边的padding */
  /* 当前视图之前，之后日期的颜色 */
  /* hover的背景色 */
  display: inline-block;
  position: relative;
  background-color: #fff;
  user-select: none; }
  .chui-calendar .ipt-box {
    height: 30px;
    line-height: 30px; }
  .chui-calendar .item-box {
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 1000;
    width: 210px;
    padding: 5px;
    background-color: #fff;
    border: solid 1px #ccc; }
  .chui-calendar .tools {
    height: 30px;
    line-height: 30px;
    text-align: center;
    position: relative; }
    .chui-calendar .tools .pre-view {
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 100%;
      cursor: pointer; }
    .chui-calendar .tools .pre-view.disable {
      visibility: hidden; }
    .chui-calendar .tools .next-view {
      position: absolute;
      top: 0;
      right: 0;
      width: 30px;
      height: 100%;
      cursor: pointer; }
    .chui-calendar .tools .next-view.disable {
      visibility: hidden; }
    .chui-calendar .tools .parents-info {
      margin: 0 30px;
      height: 100%;
      cursor: pointer; }
    .chui-calendar .tools .pre-view:hover {
      background-color: #eee; }
    .chui-calendar .tools .next-view:hover {
      background-color: #eee; }
    .chui-calendar .tools .parents-info:hover {
      background-color: #eee; }
  .chui-calendar .days .day-name {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px; }
  .chui-calendar .days .day {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer; }
    .chui-calendar .days .day.disable {
      color: #ccc;
      cursor: default; }
    .chui-calendar .days .day:hover {
      background-color: #eee; }
    .chui-calendar .days .day.disable:hover {
      background-color: transparent; }
    .chui-calendar .days .day.post {
      color: #ccc; }
    .chui-calendar .days .day.pre-month {
      color: #ccc; }
    .chui-calendar .days .day.post-month {
      color: #ccc; }
  .chui-calendar .months {
    padding: 0 0 0 5px; }
    .chui-calendar .months .month {
      display: inline-block;
      width: 50px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      cursor: pointer; }
      .chui-calendar .months .month.disable {
        color: #ccc;
        cursor: default; }
      .chui-calendar .months .month:hover {
        background-color: #eee; }
      .chui-calendar .months .month.disable:hover {
        background-color: transparent; }
      .chui-calendar .months .month.post-month {
        color: #ccc; }
  .chui-calendar .years {
    padding: 0 0 0 5px; }
    .chui-calendar .years .year {
      display: inline-block;
      width: 50px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      cursor: pointer; }
      .chui-calendar .years .year.disable {
        color: #ccc;
        cursor: default; }
      .chui-calendar .years .year:hover {
        background-color: #eee; }
      .chui-calendar .years .year.disable:hover {
        background-color: transparent; }
      .chui-calendar .years .year.pre-year {
        color: #ccc; }
      .chui-calendar .years .year.post-year {
        color: #ccc; }
.h-ui-side-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #333;
  color: #fff; }
  .h-ui-side-menu ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .h-ui-side-menu .mid-layer, .h-ui-side-menu .menu-item {
    list-style: none; }
  .h-ui-side-menu .menu-item {
    overflow: hidden;
    transition: height 0.3s ease; }
  .h-ui-side-menu .mid-name {
    margin: 0;
    overflow: hidden;
    transition: height 0.3s ease; }
  .h-ui-side-menu .menu-item, .h-ui-side-menu .mid-name {
    line-height: 30px; }
  .h-ui-side-menu > .menu-item, .h-ui-side-menu > .mid-name {
    height: 30px; }
  .h-ui-side-menu .sub-menu > .menu-item {
    height: 0; }
  .h-ui-side-menu .sub-menu > .mid-layer > .mid-name {
    height: 0; }
  .h-ui-side-menu .expand > .menu-item {
    height: 30px; }
  .h-ui-side-menu .expand > .mid-layer > .mid-name {
    height: 30px; }
  .h-ui-side-menu > .mid-layer > .mid-name {
    padding-left: 20px; }
  .h-ui-side-menu > .menu-item {
    padding-left: 20px; }
  .h-ui-side-menu .level-2 {
    background-color: #404040; }
    .h-ui-side-menu .level-2 > .mid-layer > .mid-name {
      padding-left: 40px; }
    .h-ui-side-menu .level-2 > .menu-item {
      padding-left: 40px; }
  .h-ui-side-menu .level-3 {
    background-color: #505050; }
    .h-ui-side-menu .level-3 > .mid-layer > .mid-name {
      padding-left: 60px; }
    .h-ui-side-menu .level-3 > .menu-item {
      padding-left: 60px; }
.pagination {
  box-sizing: border-box; }
  .pagination span {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #fff;
    border: 1px solid #ddd;
    color: #0275d8;
    text-align: center;
    cursor: pointer; }
  .pagination span:hover {
    color: #014c8c;
    background-color: #eceeef;
    border-color: #ddd; }
  .pagination .active {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8; }
  .pagination svg {
    position: absolute;
    height: 20px;
    width: 20px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
html, body, div {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%;
  font-family: Arial,"Microsoft YaHei","\5B8B\4F53";
  font-size: 14px; }

body {
  background-color: #ececec; }

.header {
  padding: 0 10px 0 60px;
  height: 40px;
  line-height: 40px;
  background-size: 40px auto;
  background-color: #333; }
  .header a {
    margin: 0 5px;
    color: #ccc;
    text-decoration: none; }
    .header a.active {
      color: #fff; }

.main-wrapper {
  overflow: hidden;
  margin: 20px 0;
  min-height: 350px; }

.menu-wrapper {
  width: 20%;
  float: left; }

.main-container {
  float: left;
  width: 80%;
  padding: 0 20px;
  box-sizing: border-box; }

/*# sourceMappingURL=app.css.map*/